[submodule "vendor/gopkg.in/yaml.v2"]
	path = vendor/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
[submodule "vendor/github.com/opencontainers/runc"]
	path = vendor/github.com/opencontainers/runc
	url = https://github.com/opencontainers/runc
[submodule "vendor/github.com/ghodss/yaml"]
	path = vendor/github.com/ghodss/yaml
	url = https://github.com/ghodss/yaml
[submodule "vendor/github.com/docker/libtrust"]
	path = vendor/github.com/docker/libtrust
	url = https://github.com/docker/libtrust
[submodule "vendor/github.com/docker/engine-api"]
	path = vendor/github.com/docker/engine-api
	url = https://github.com/docker/engine-api
[submodule "vendor/github.com/docker/distribution"]
	path = vendor/github.com/docker/distribution
	url = https://github.com/docker/distribution
[submodule "vendor/github.com/cloudfoundry-incubator/candiedyaml"]
	path = vendor/github.com/cloudfoundry-incubator/candiedyaml
	url = https://github.com/cloudfoundry-incubator/candiedyaml
[submodule "vendor/github.com/docker/go-connections"]
	path = vendor/github.com/docker/go-connections
	url = https://github.com/docker/go-connections
[submodule "vendor/github.com/vbatts/tar-split"]
	path = vendor/github.com/vbatts/tar-split
	url = https://github.com/vbatts/tar-split
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://github.com/golang/net
[submodule "vendor/github.com/golang/protobuf"]
	path = vendor/github.com/golang/protobuf
	url = https://github.com/golang/protobuf
[submodule "vendor/github.com/urfave/cli"]
	path = vendor/github.com/urfave/cli
	url = https://github.com/urfave/cli
[submodule "vendor/code.cloudfoundry.org/commandrunner"]
	path = vendor/code.cloudfoundry.org/commandrunner
	url = https://github.com/cloudfoundry/commandrunner
[submodule "vendor/code.cloudfoundry.org/lager"]
	path = vendor/code.cloudfoundry.org/lager
	url = https://github.com/cloudfoundry/lager
[submodule "vendor/github.com/containers/image"]
	path = vendor/github.com/containers/image
	url = https://github.com/containers/image
[submodule "vendor/github.com/docker/go-units"]
	path = vendor/github.com/docker/go-units
	url = https://github.com/docker/go-units
[submodule "vendor/github.com/onsi/ginkgo"]
	path = vendor/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo
[submodule "vendor/github.com/onsi/gomega"]
	path = vendor/github.com/onsi/gomega
	url = https://github.com/onsi/gomega
[submodule "vendor/github.com/opencontainers/image-spec"]
	path = vendor/github.com/opencontainers/image-spec
	url = https://github.com/opencontainers/image-spec
[submodule "vendor/github.com/pkg/errors"]
	path = vendor/github.com/pkg/errors
	url = https://github.com/pkg/errors
[submodule "vendor/github.com/st3v/glager"]
	path = vendor/github.com/st3v/glager
	url = https://github.com/st3v/glager
[submodule "vendor/github.com/tscolari/lagregator"]
	path = vendor/github.com/tscolari/lagregator
	url = https://github.com/tscolari/lagregator.git
[submodule "vendor/github.com/cloudfoundry/sonde-go"]
	path = vendor/github.com/cloudfoundry/sonde-go
	url = https://github.com/cloudfoundry/sonde-go
[submodule "vendor/github.com/cloudfoundry/dropsonde"]
	path = vendor/github.com/cloudfoundry/dropsonde
	url = https://github.com/cloudfoundry/dropsonde
[submodule "vendor/github.com/gogo/protobuf"]
	path = vendor/github.com/gogo/protobuf
	url = https://github.com/gogo/protobuf
[submodule "vendor/github.com/cloudfoundry/gosteno"]
	path = vendor/github.com/cloudfoundry/gosteno
	url = https://github.com/cloudfoundry/gosteno
[submodule "vendor/github.com/nu7hatch/gouuid"]
	path = vendor/github.com/nu7hatch/gouuid
	url = https://github.com/nu7hatch/gouuid
[submodule "vendor/github.com/go-yaml/yaml"]
	path = vendor/github.com/go-yaml/yaml
	url = https://github.com/go-yaml/yaml
[submodule "vendor/github.com/containers/storage"]
	path = vendor/github.com/containers/storage
	url = https://github.com/containers/storage
[submodule "vendor/github.com/alecthomas/units"]
	path = vendor/github.com/alecthomas/units
	url = https://github.com/alecthomas/units
[submodule "vendor/github.com/opencontainers/go-digest"]
	path = vendor/github.com/opencontainers/go-digest
	url = https://github.com/opencontainers/go-digest
[submodule "vendor/github.com/ventu-io/go-shortid"]
	path = vendor/github.com/ventu-io/go-shortid
	url = https://github.com/ventu-io/go-shortid
[submodule "vendor/github.com/Microsoft/go-winio"]
	path = vendor/github.com/Microsoft/go-winio
	url = https://github.com/Microsoft/go-winio
[submodule "vendor/golang.org/x/sys"]
	path = vendor/golang.org/x/sys
	url = https://go.googlesource.com/sys
[submodule "vendor/github.com/docker/docker"]
	path = vendor/github.com/docker/docker
	url = https://github.com/docker/docker
[submodule "vendor/github.com/sirupsen/logrus"]
	path = vendor/github.com/sirupsen/logrus
	url = https://github.com/sirupsen/logrus
[submodule "vendor/golang.org/x/crypto"]
	path = vendor/golang.org/x/crypto
	url = https://github.com/golang/crypto
[submodule "vendor/github.com/docker/docker-credential-helpers"]
	path = vendor/github.com/docker/docker-credential-helpers
	url = https://github.com/docker/docker-credential-helpers
[submodule "vendor/github.com/opencontainers/runtime-spec"]
	path = vendor/github.com/opencontainers/runtime-spec
	url = https://github.com/opencontainers/runtime-spec
